.imgWrapper {
    border-radius: 50%;
    border: 2px solid black;
}

.githubLink {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icons {
    width: 10px;
    background: brown;
}