.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgWrapper {
  border-radius: 50%;
  border: 2px solid black;
}

.githubLink {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.githubLink p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboardWrapper {
  min-height: 100vh;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  border: none;
  outline: none;
}

.selectWrapper {
  display: flex;
  justify-content: flex-end;
}