.imgWrapper {
  border-radius: 50%;
  border: 2px solid black;
}

.githubLink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboardWrapper {
  min-height: 100vh;
}

select {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}