<div class="container pb-6">
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <button class="pagination-previous" [disabled]="pageData.first === null">
      Previous
    </button>
    <button class="pagination-next" [disabled]="pageData.last === null">
      Next page
    </button>
    <ul class="pagination-list">
      <li *ngIf="pageData.first !== null">
        <button class="pagination-link">
          {{ pageData.first.page }}
        </button>
      </li>
      <li *ngIf="pageData.first !== null">
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li *ngIf="pageData.prev !== null">
        <a class="pagination-link">{{ pageData.prev.page }}</a>
      </li>
      <li>
        <a class="pagination-link is-current">{{ currentPage }}</a>
      </li>
      <li *ngIf="pageData.next !== null">
        <a class="pagination-link">{{ pageData.next.page }}</a>
      </li>
      <li *ngIf="pageData.last !== null">
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li *ngIf="pageData.last !== null">
        <a class="pagination-link">{{ pageData.last.page }}</a>
      </li>
    </ul>
  </nav>
</div>
