<div class="card hasEqualHeight">
  <header class="card-header">
    <a
      class="card-header-title has-text-info-dark"
      target="_blank"
      rel="noopener noreferrer"
      [href]="repoData.html_url"
    >
      {{repoData.name}}
    </a>
  </header>
  <div class="card-content">
    <div class="content" [class.has-text-grey-light]="repoData.description === null">
      {{repoData.description || 'This repository has no description.'}}
    </div>
  </div>
  <app-language-tag class="content mb-4" [tagsUrl]="repoData.languages_url"></app-language-tag>
</div>
